:hover {
	color: #4d5ae5;
}

body {
	font-family: "Roboto";
	background-color: #ffffff;

	color: #434455;
	font-size: ;
}

.item {
	list-style: none;
}
.menu-list {
	list-style: none;
}

.navigation-list-link {
	list-style: none;
}




.page-navigation {: 93px
	Y: 0px
	W: 116px
	H: 48px
	Corner radius: 4px
	X constraint: Left
	Y constraint: Top
	Fill Color Style: CLOUD
	Fill: Solid
	#F4F4FD
	Stroke: Solid
	#E7E9FC
	Align: Inside
	Width: 1px}