:hover {
	color: #4d5ae5;
}

body {
	font-family: "Roboto";
	background-color: #ffffff;

	color: #434455;
	font-size: ;
}

.item {
	list-style: none;
}
.menu-list {
	list-style: none;
	
}

.navigation-list-link {
	list-style: none;
}

.menu-item {color:#E7E9FC;
	
}
.menu-item:active { color:#404BBF}
	